@charset "utf-8";
/* CSS Document */

body{
	font-family: "Roboto", sans-serif;
	font-size:14px;
	line-height:20px;	
}
.strip {
	background-color:rgb(0,0,0,0.5);
	color:rgb(255,255,255,0.8);
	z-index:9999;
	width:100%;
	height:40px;
	padding:10px 110px 10px 104px;
}
h2{
	font-weight: 300;
	    font-size: 34px;
}
p{
	 color: #444444;
		 font-size: 15px;
    line-height: 25px;
    font-weight: 400;
	margin-bottom: 0;
}
.strip span{
	display: inline-flex;
}
.strip span i{
	padding:3px 5px 0 10px;
	font-size:14px;
}
.strip span a{
	text-decoration:none;
	color:rgb(255,255,255,0.8);
}
.line{
	border-right:3px solid rgb(255,255,255,0.8);
	height:20px;
	top: -8px;
}
.fb{
	 width: 10px;
        height: 20px;
	  display: inline-block;
	    position: relative;
		margin-right:23px;	
}  
.strip img {
    line-height: 20px;   
}
    .fb .img-top {
        display: none;
        position: absolute;
        top: -6px;
        left: -12px;
        z-index: 99;
    }
    .fb:hover .img-top {
        display: inline;	
    }
.in{
	 width: 20px;
        height: 20px;
	  display: inline-block;
	    position: relative;
		padding-right:40px;
		border-right:3px solid rgb(255,255,255,0.8);
	height:20px;		
}
 .in .img-top {
        display: none;
        position: absolute;
        top: -6px;
        left: -10px;
        z-index: 99;
    }
    .in:hover .img-top {
        display: inline;	
    }
.image {
	padding-left:106px;
}
.flag1{	
	margin-left:24px;
    line-height:20px;		
}
.flag2{	
	margin-left:24px;
    line-height:20px;	
}
.top{
	top:40px;
	z-index:9999;
	 position: fixed;
   width: 100%;
    padding: 0;
    height: 100px;
}
.dropdown {
  display: inline-block;
  font-size:16px;
}
.dropdown:hover .dropdown-menu{
  display: inline-block;
}
.dropdown-item{
	padding:10px;
}
.bar {
	padding-top:10px;
	 font-size:16px;
}
.bar1 {
	    border-right: 1px solid #eb7126;
    height: 20px;
    top: 11px;
}
.bar2 {
	 border-right: 1px solid #eb7126;
}
.slide {
	height:520px;
}
.nav-item i {
	padding: 4px 108px 0 20px ;
	color:rgba(0,0,0);	
}
.navbar-light .navbar-nav .nav-link {
	color:#000;
	padding-top:0;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover 
{
	color:#000;
}
.nav-link {
		text-align:center;
}
.carousel-control-prev {
	top:42%;
}
.carousel-control-next {
	top:42%;
}
.carousel-control-prev-icon{
	background-image:url("img/arrow-left.png");
	opacity:0.8;
	width:40px;
	height:40px;
}
.carousel-control-prev-icon:hover {
	background-image:url("img/arrow-left.png");
	opacity:1;
}
.carousel-control-next-icon{
	background-image:url("img/arrow-right.png");
	opacity:0.8;
	width:40px;
	height:40px;
}
.carousel-control-next-icon{
	background-image:url("img/arrow-right.png");
	opacity:1;
}
.carousel-caption {
	top:230px;
}
.carousel-control-next, .carousel-control-prev 
{
	bottom:70%;
}
.carousel-caption h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: rgb(0,0,0,0.5);
    height: 62px;
    padding-top: 10px;
	color:#eb7126;
	font-weight:bold;
}
.pictures {
	padding:20px 0;
}
.img1{
	width:75px;
	height:75px;
}
/*.pictures .img1:hover{
    -moz-box-shadow: 5px 5px 20px rgb(0,0,0,0.5);
    -webkit-box-shadow:5px 5px 20px rgb(0,0,0,0.5);
    box-shadow: 2px 2px 8px #ccc;
	width:75px;
	height:75px;
}
*/
.img2 a {
	text-decoration:none;
	color:#000;
}
.img2:hover img {
    -moz-box-shadow: 5px 5px 20px rgb(0,0,0,0.5);
    -webkit-box-shadow:5px 5px 20px rgb(0,0,0,0.5);
    box-shadow: 2px 2px 8px #ccc;
	/*width:75px;
	height:75px;*/
	display:inline-block;
}
.img2:hover h4 {
	color:#eb7126;
}
.smg:hover {
	-moz-box-shadow: 5px 5px 20px rgb(0,0,0,0.5);
    -webkit-box-shadow:5px 5px 20px rgb(0,0,0,0.5);
    box-shadow: 2px 2px 8px #ccc;
}
h4{
	    font-size: 24px;
		font-family: "Roboto", sans-serif;
		font-weight:300;
	padding-bottom:10px;
	line-height:1.5;   
}
.vision {
	background-color:#f6f6f6;
	text-align:center;
}
.vision h2{
		padding-top:80px;
}
.vision p{
	padding:40px 0 40px 0;
}
.project h2{
		padding-top:30px;
}
.project p{
	padding-top:40px;
}
.project1 {
	background-color: rgba(255,255,255,0.6);
}
.project {
	background-image:url("img/project-bg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	}
.project a{
		text-decoration:none;
		color:#444444;
		padding-bottom:50px;
	}
.project img{
	padding-top:30px;
	
}
.testmonial{
	text-align:center;
	padding:50px 0;
}
.owl-carousel .owl-item img {
	width:auto;
	height:100px;
	margin:20px 25px; 
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}
.med {
	background-color:#f6f6f6;
}
.media{
	    margin: 70px 0;
}
.med h2{
	padding:20px 0;
	color:rgb(0,0,0,0.8);
}
.media h5 {
	font-size:20px;
	font-weight: 300;
	color:rgb(0,0,0,0.8);
}
.foot{
	background-color:rgb(0,0,0,0.8);
}
.foot p{
	color:#9e9e9e;
}
.down-icon{
	padding:30px 0;
}
.tooltip1 {
  position: relative;
  display: inline-block;
}
.tooltip1  .down-fb {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
}
.tooltip1:hover .down-fb{
	display: inline;
}
.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 80px;
  height:36px;
  background-color: rgb(0,0,0,0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -40px;
}
.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}
.tooltip1:hover  .down-fb{
  visibility: visible;
}
.tooltip2 {
  position: relative;
  display: inline-block;
}
.tooltip2  .down-in {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
}
.tooltip2:hover .down-in{
	display: inline;
}
.tooltip2 .tooltiptext2 {
 visibility: hidden;
  width: 80px;
  height:36px;
  background-color: rgb(0,0,0,0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -40px;
}
.tooltip2 .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}
.tooltip2:hover  .down-in{
  visibility: visible;
}
.foot li {
	font-size:20px;
	color:#9e9e9e;
}
.foot li a{
	text-decoration:none;
	    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
	color:#9e9e9e;
}
.foot li a:hover{
	color:#eba028;
}
.foot h4{
	color:#eba028;
	padding:20px 0;
}
.contact a {
	text-decoration:none;
}
.contact  .loc{
	font-size:18px;
	color:#9e9e9e;
	margin:0;
	padding:14px 10px 0 0;
}
.foot p {
    color: #9e9e9e;
    display: inline-flex;
}
.foot .loc1:hover{
	color:#eba028;
}
.phone {
	padding:20px 10px 0 0;
}
.phone span{
	padding-left:10px;
	font-size:18px;
	color:#9e9e9e;
}
.phone .msg:hover{
	 color:#eb7126;
}
.phone a{
	text-decoration:none;
	font-size:18px;
}
.down-icon1{
	background-image:url("img/down-fb-1.png");
}
.footer{
	background-color:#212121;
	color:#fff;
	height:67px;
	padding-top:28px;
	font-size:16px;
}
.footer a{
	color:#eba028;
	text-decoration:none;	
}
.footer a:hover{
	color:#eb7126;
}
.bar-footer span{
	border-right:1px solid #ccc;
	padding-right:10px;
}
.con{
	border:none;
}
#myBtn {
   outline: none!important;
    transition: background-color 0.3s,box-shadow 0.3s,bottom 0.3s;
    background-color: rgba(0,0,0,.3);
    color: #fff!important;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(0,0,0,0.5);
  color: white;
  cursor: pointer;
  padding: 15px;
   text-align: center;
    font-size: 34px;
    line-height: 54px;
    height: 54px;
    width: 54px;
    border-radius: 50%;
}
#myBtn:hover {
     background-color: #eba028;
}
#myBtn i {
	    font-size: 30px;
    position: absolute;
    top: 14px;
    left: 12px;
}
